{
  "env": {
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "ecmaVersion": 2018
  },

  "extends": "eslint:recommended",

  "rules": {
    "prefer-template": "warn",
    "semi": "error",
    "dot-notation": "warn",
    "no-var": "warn",
    "prefer-const": "warn",
    "linebreak-style": 0,
    "indent": ["error", 4],
    "comma-dangle": ["warn", "never"],
    "no-trailing-spaces": "off",
    "consistent-return": "warn",
    "no-unused-vars": "warn"
  }
}
